@media only screen and (min-width: 760px) {
	@keyframes scrolldown {
		from {bottom:60px;}
		to {bottom:50px;}
	}

	@keyframes vidatext {
		from {

			width: 0px;
			
		}
		to { 

			width: 35%;
			
		

		}
	}
	@keyframes btn-vida{

		from {
			opacity: 0;
			height: 100%;
	
			
		}
		to { 
			border-radius: 0px;
			opacity: 1;
			top: 100%;
			height: 100%;
			
		

		}
	}

	@keyframes btn-vida-close{

		from {
			
			height: 105px;
			top: 100%;
		}
		to { 
			top: 150%;
			height: 50px;
			
		

		}
	}

	@keyframes animacao {
		from {

			transform: translateY(-300%);

		}
		to { 

			transform: translateY(0);
			visibility: visible;

		}
	}
	@-moz-keyframes spin {
		from { -moz-transform: rotate(0deg); }
		to { -moz-transform: rotate(360deg); }
	}
	@-webkit-keyframes spin {
		from { -webkit-transform: rotate(0deg); }
		to { -webkit-transform: rotate(360deg); }
	}
	@keyframes spin {
		from {transform:rotate(0deg);}
		to {transform:rotate(360deg);}
	}
	@keyframes ant-spin {
		from {transform:rotate(360deg);}
		to {transform:rotate(0deg);}
	}

	@keyframes animacao-menulist {
		from {
			top:-20%;
		}
		to { 
			top:50%;
			visibility: visible;

		}
	}

	@keyframes animacao-background {
		from {
			left: -100%; 
		}
		to { 
			left: 0;
			visibility: visible;
		}
	}


	@keyframes lines {
		from {
			transform: translateY(-100%);
		}
		to { 
			top: 0px;
			transform: translateY(0);
			visibility: visible;
		}
	}

	@keyframes blockblue {
		from {

			width: 0px;
		}
		to { 
			visibility: visible;
			width: 100%;

		}
	}

	@keyframes blockbottom {
		from {
			transform: translateY(100%);

		}
		to { 
			visibility: visible;

			transform: translateY(0);

		}
	}

	@keyframes overlay {
		from {

			transform: translateY(-100%);
		}
		to { 
			visibility: visible;
			transform: translateY(0);

		}
	}
	@keyframes overlaytop {
		from {

			height: 0px;
		}
		to { 
			visibility: visible;
			height: 100%;

		}
	}

	@keyframes lineheight {
		from {

			top: -500px;
		}
		to { 
			top:30px;
			visibility: visible;

		}
	}

	@keyframes linebottom {
		from {

			bottom: -700px;
		}
		to { 
			bottom:30px;
			visibility: visible;

		}
	}

	@keyframes animacaomenu {

		from {

			width: 3%;
		}
		to { 
			width: 50%;
		}

	}
	@keyframes animacaomenuclose {

		from {

			width: 50%;
		}
		to { 

			width: 6%;
		}

	}

	@keyframes animacaomenuright {

		from {

			width: 50%;
		}
		to { 
			opacity:1;
			width: 0%;
		}

	}
	@keyframes animacaomenurightopen {

		from {

			width: 0%;
		}
		to { 

			width: 50%;
		}

	}

	@keyframes animacao-iconmenu {

		from {
			padding-top: 0px;
			transform: translateX(-100%);
		}
		to { 

			transform: translateX(0);
			visibility: visible;
			padding-top: 40px;
		}

	}
	@keyframes footermenu {

		0% {position: absolute;
			left: 13%;
			bottom: -100%;
			opacity: 0;}
			100% {opacity: 1;
				position: absolute;
				left: 80px;
				bottom: 8%;}

			}

			@keyframes animacao-tituloPagina {

				from {
					left: 70px;
					top: 500px;
				}
				to { 

					left: 70px;
					top: 21px;

				}

			}

			@keyframes animacao-titulopagina-boot {

				from {
					left: 70px;
					width: 100%;
					top: 50%;
					opacity: 0;
					letter-spacing: 2px;
					text-transform: lowercase;
					font-size: 20px;
					color: #fff;
					font-family: 'Lato', sans-serif;
				}
				to { 
					opacity: 1;
					left: 70px;
					top: 15px;
					width: 100%;
					letter-spacing: 2px;
					text-transform: lowercase;
					font-size: 20px;
					color: #fff;
					font-family: 'Lato', sans-serif;

				}

			}

			@keyframes menulist {

				from {
					opacity: 0;
					transform: translateX(-100%);
				}
				to { 
					top: 0px;
					opacity:1;
					transform: translateY(0);
					visibility: visible;
				}

			}
			@keyframes socialmenu {

				from {
					right: 5%;
					top: -100%;
					opacity: 0;
				}
				to { 
					opacity: 1;
					right: 5%;
					display: flex;
					top: 30%;
					position: absolute;
				}

			}
		}